<div class="container">
  <h2>Top teams for {{crime}}</h2>
  <input [(ngModel)]="searchText" placeholder="search for a team">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Team</th>
        <th scope="col">Team name</th>
        <th scope="col">Team city</th>
        <th scope="col">Arrest count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams  | search : searchText : 'Team_name'">
        <td>{{team.Team}}</td>
        <td>{{team.Team_name}}</td>
        <td>{{team.Team_city}}</td>
        <td>{{team.arrest_count}}</td>
      </tr>
    </tbody>
  </table>
</div>
